@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    
}

.logo {
    display: flex;
    justify-content: center;
    flex-basis: 2rem;
    margin-left: 1rem;
    align-items: center;
}

.logo i {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.titre {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
}

.fleche {
    display: flex;
}

.header {

    padding: 1rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;

}

.header_logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
    font-size: 2.3rem;
    padding: 1rem 0;

}

.bg {
    background-color: #EAEAEA;
}

.card img {


    height: 300px;
    object-fit: cover;
    width: 100%;
}

.titre-menu {


    position: relative;
    top: -3rem;
    border-radius: 3rem 3rem 0 0;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 95%;
    padding-left: 2rem;
    padding-top: 2rem;

}

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 2rem;
}

.heart {

    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.heart i {

    position: absolute;
}

.full {

    opacity: 0;
    transition: opacity 1.5s ease;
}

.full:hover,
.full:active {
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#9356dc 20%, #ff79da 100%);

}

.titre-menu i {

    display: flex;
    font-size: 2rem;
    padding-right: 5rem;
}

.epd {

    display: flex;
    flex-direction: column;
}

.Entree {

    color: gray;
    position: relative;
    width: fit-content;
    margin-bottom: 15px;
    margin-left: 15px;
}

.Entree::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #99E2D0;
}

.Entree-menu {


    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 2px 5px darkgrey;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    animation: appear 4s linear;
    animation-fill-mode: forwards;
}

.Entree-menu:hover .content_menu {

    width: 90%;
}

.Entree-menu:hover .select-check {

    right: 0;
}

.Entree-menu:hover .select-check i {

    transform: rotate(1turn);
}

@keyframes appear {
    from {
        opacity: 0;
        margin-top: 80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}


.delay1 {

    animation-delay: 1s;
}

.delay2 {
    animation-delay: 2s;
}

.delay3 {
    animation-delay: 3s;
}



.Entree-menu-prix {

    display: flex;

    font-weight: bold;
}

.content_menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    transition: width 1s ease;

}

.select-check {

    position: absolute;
    right: -10%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    color: white;
    font-size: 1.3rem;
    width: 10%;
    height: 100%;
    transition: right 1s ease;
}

.select-check i {

    transition: transform 1s ease;
}


.btn {
    display: inline-block;
    color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 10px darkgrey;
    transition: 100ms;
}

.btn-cmd {

    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: inherit;
}


footer {
    background-color: #353535;
    color: white;
    padding: 1rem 0 1rem 1.5rem;
}

footer h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Shrikhand", cursive;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: white;
    align-items: center;
}

footer i {
    padding-right: 5px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.ellipsis-text{

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:90%;
    width:auto;    
}

.ellipsis-container{

   overflow: hidden;
    width:90%;
}

/*****************Media Query*******************/

@media (min-width:768px) {

.epd{

    display:flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: center;    
}

.footer{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .footer h1{

        display: flex;
    justify-content: center;
    width: 100%;
    }    
}

@media (min-width:992px){

    .epd{

        display:flex;
        flex-wrap: unset;

}
}