@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Shrikhand&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;   
}

.header {
    padding: 1rem 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1000;
}

.header_logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
}

.loader {

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 1s 3s forwards;
    transform-origin: top;
}

.loader>i {

    animation: spin 3s infinite linear;

}

@keyframes disappear {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@keyframes spin {

    to {
        transform: rotate(360deg);
    }
}

.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    position: relative;
}

.localisation_icon {
    margin-right: 1rem;
    color: gray;
}

.localisation_text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    color: gray;
}


.explorer {
    padding: 2rem;
    text-align: center;
    background-color: #fafafa;
    margin-bottom: 3rem;
}

.title {
    margin: 0;
}

.subtitle {

    margin: 1.5rem 0;
    color: gray;
}

.btn {
    display: inline-block;
    color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 3px 10px darkgrey;
    transition: 100ms;
}

.btn:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-bottom: 5rem;
    
}

.container h2 {

    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-left: 15px;
    padding-right: 15px;
}

#choix_menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}

.choix1,
.choix2,
.choix3 {

    position: relative;
    left: -1rem;
    border: 1px solid #9356dc;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: #9356dc;
    color: white;
}

li {
    width: 90%;
    margin: 0 auto;
    background-color: #F6F6F6;
    border-radius: 1rem;
    padding: 1.5rem 0;
    box-shadow: 0 3px 5px darkgrey;
    transition: transform 1s;
    font-size: 1.1rem;
}

li:hover {
    box-shadow: 0 0 10px #9356dc;
    transform: scale(1.01);
    transition: 0.5s;
    cursor: pointer;
}

#choix_menu li i:hover {
    color: #9356dc;
}

#choix_menu li i {

    margin-right: 0.5rem;
    color: gray;
}

.text {

    font-weight: bold;
}


.restaurants {
    padding-bottom: 4rem;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    cursor: pointer;
    position: relative;
    height: 270px;
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 3px 8px darkgray;
    width: 90%;
    margin: 0 auto;
}

.card img {
    width: 100%;
    object-fit: cover;
    min-height: 200px;
    max-height: 200px;
    border-radius: 1rem 1rem 0 0;
}

.description {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.layout {
    width: 85%;
}

.layout h3,
.layout p {
    margin: 0;
    padding: 0.3rem 0 0 1rem;
}

.layout p {
    color: gray;
}

i:hover {

    color: #9356dc;
}

.heart i {

    position: absolute;
}

.full {

    opacity: 0; 
    transition: opacity 1.5s ease;
}

.full:hover,
.full:active {
    opacity: 1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#9356dc 20%, #ff79da 100%);

}

.heart {
    display: flex;
    width: 30px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}


.card a {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    box-shadow: 0 0 10px #9356dc;
    transform: scale(1.01);
    transition: 0.5s;
}

.restaurants span {
    position: absolute;
    content: "";
    right: 10px;
    top: 20px;
    font-weight: bold;
    background-color: #99E2D0;
    color: #2FAF94;
    padding: 0.5rem;
    width: 75px;
}

.restaurants h2 {
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
}

footer {
    background-color: #353535;
    color: white;
    padding: 1rem 0 1rem 1.5rem;
}

footer h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Shrikhand", cursive;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: white;
    align-items: center;
}

footer i {
    padding-right: 5px;
}

.footer {
    display: flex;
    flex-direction: column;
}

body footer .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/******************Media query******************/

@media (min-width:768px) {

    .container h2,.restaurants h2{

        display:flex;
        justify-content: center;
    }

   .restaurants{

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
   }

   .footer{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


    .footer h1{

    display: flex;
    justify-content: center;
    width: 100%;
    }   
}

@media (min-width:992px){

    #choix_menu{

        display:flex;
        flex-direction: row;
   }
}